/* CSS file for myVillageProj */

/* body{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:500 !important;
  font-style: normal;
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background-color: rgb(200, 123, 97);

} */
.container{
    flex:1;
    width:100%;
    /* background-color: rgb(112, 182, 231); */
    
} 

.navbar{
    background-color:aquamarine;
    width:100%;
    padding:0px;
    margin-bottom:3rem;

}

#nav-logo{
    height:40px;
    width:40px;
    border-radius:50%;
    margin-right:10px;
}

/* .footer{
    /* width:100vw; */
    /* justify-content: center; */
    /* background-color:rgb(113, 124, 120); */
   /* position:fixed;
    bottom:0; 
    height:auto;
    padding-bottom:0px;
    text-align:center;
    display:inline-block
     } */

/* 
    /* .quick{
        position:absolute;
        left:2rem;
        margin:3rem;
        padding:1rem;
       text-align:start;
       line-height:2rem;
        background-color: cornsilk;
    } */

.social{
 display:inline-block;
}


/* for rensponsive design */ 

@media (max-width: 600px) {
    .footer{
        background-color:pink;
    }
    .search-engine{
        width:50% !important;
    }
    .navbar-brand{
        display:none;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .footer{
        background-color:pink;
    }
}
@media (min-width: 1025px) {
  /* Desktop */
  .footer{
        background-color:rgb(163, 227, 165);
    }
}

/* .search-bar{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:20px;
} */



#vill-map{
    height:300px;
    width:90%;
    border:2px solid black;
    border-radius:10px;
    margin-top:10px;
    margin-bottom:10px;
}

.allcard{
   border-radius:10px;
   margin:20px;
   display:flex;
   flex:1;
}
.family-details{
    /* height:500px;
    background-color:rgb(101, 221, 213); */
    margin-top:3rem;
    margin-left:4rem;
    margin-bottom:4rem;
    line-height:2rem;
    font-size: large;
}
#family-img{
    height:300px;
    width:70%;
    position:relative;
    left:5rem;
    border-radius:20px;
}

.animation{
    color:rgb(133, 223, 204);
    text-align:center;
    animation: colorchange 2s 1s infinite ;
    animation:move 8s linear infinite normal
;}
@keyframes colorchange{
    0%{color:rgb(255, 111, 0);}
    /* 25%{color:rgb(208, 80, 255);} */
    50%{color:white;}
    /* 75%{color:darkorange;} */
    100%{color:green;}
}
/* @keyframes move{
    0%{transform:translateX(-800px);}
    /* 50%{transform:translateX(0px);} 
    100%{transform:translateX(800px);}
} */

/* for search engine */
/* .search-engine{
    display:flex;
    background-color: red;
} */


.form-control{
   border-radius:40px !important;
}

/* Standardize price display across pages */
.price-range{ display:inline-flex; align-items:center; gap:8px; }
.price-range .rupee-symbol{ color:#fe424d; font-weight:700; font-size:1rem; }
.price-range .price-text{ color:#666; font-weight:600; font-size:0.95rem; }